<div class="container home-shell">
    <div class="page-topbar">
        <div class="page-title">Quran Kareem</div>

        <div ngbDropdown class="theme-dropdown">
            <button type="button" class="theme-dropdown-toggle" id="homeBrowseDropdown" ngbDropdownToggle>
                Browse ricters
            </button>
            <div ngbDropdownMenu aria-labelledby="homeBrowseDropdown" class="theme-dropdown-menu">
                @for(ricter of ricters(); track ricters.name) {
                <button ngbDropdownItem class="theme-dropdown-item">{{ricter.name}}</button>
                }
                <!-- <button ngbDropdownItem class="theme-dropdown-item">Makkah Surahs</button>
                <button ngbDropdownItem class="theme-dropdown-item">Madinah Surahs</button> -->
            </div>
        </div>
    </div>

    <div class="row text-center g-4">
        @for (surah of data(); track surah) {
        <div class="col-12 col-md-6 col-lg-4">
            <app-surah [Surah]="surah" />
        </div>
        }
    </div>
</div>