
.surah {
    box-sizing: border-box;
    border: 2px solid white;
}
.surah .square {
    background:#E7EAED;

}

.surah:hover {
    cursor: pointer;
    border: 2px solid #0b8f6c;
    transition: background 0.5s ease-in-out;

}
/* 
.surah:hover .square{
    background-color: #0b8f6c;
    color:white;
    transition: background color 0.5s ease-in-out;

} */

.square {
    transition: background-color 0.5s ease-in-out,
                color 0.5s ease-in-out;
}

.surah:hover .square {
    background-color: #0b8f6c;
    color: white;
}