
.surah {
    box-sizing: border-box;
}
.surah .square {
    background:#E7EAED;

}

.surah:hover {
    cursor: pointer;
    border: 1px solid #98CEFF;

}

.surah:hover .square{
    background-color: #98CEFF;
}