
<div class="container py-3 ">
    <div class="card  surah shadow-sm">
        <div class="card-body">
            <div class="row align-items-center align-items-center">
                <div class="col-auto text-center">
                    <div class="d-flex square align-self-end  justify-content-center fw-bold  rounded-3"
                        style=" width:30px;height:30px;transform:rotate(45deg);">
                        <span style="padding-top: 3px; transform:rotate(-45deg);">{{Surah?.['number'] + ''}}</span>

                    </div>
                    <small class="fw-bolder "> @if(Surah?.['revelationType'] == 'Meccan') {
                        <p class=" mb-0 pt-1">
                            مكية
                        </p>
                        }
                        @else {
                        <p class="mb-0 pt-1">
                            مدنية
                        </p>
                        }
                    </small>
                </div>
                <div class="col">
                    <h6 class="mb-0 fw-semibold">{{Surah?.['name']}}</h6>
                    <small class="text-muted">{{Surah?.['englishName']}}</small>
                </div>

                <div class="col-auto text-center">
                    <h6 class="mb-0 fw-semibold">عدد الايــات</h6>
                    <small class="text-muted text-center fw-bolder">{{Surah?.['ayahs'].length}}</small>
                </div>

            </div>
        </div>
    </div>
</div>