<h2 class="text-center py-5">{{this.surah()?.['name']}}</h2>
<div class=" row text-center justify-content-end fs-4">
    @if(audioList.length > 0 && audioList[currentIndex]) {
    <audio #audioPlayer (ended)="onAudioEnded()" controls>
    </audio>
    }
    <div class="col-12 fs-2 fw-lighter py-5">
        <!-- {{ basmala }} -->
    </div>
    <!-- @for(ayah of this.surah()?.['ayahs'];track $index) {
    <div [class.test]="$index === currentIndex" class='ayah color-green text-center col-12'>
        @if (ayah.text.startsWith(basmala)) {
        <div 
        #ayahElement
        class="text-center col-12">
            {{removeBasmala(ayah.text) }}
        </div>
        } @else {
        <div class="col-12">
            {{ ayah.text }}
        </div>
        }
    </div>
    } -->

    @for (ayah of this.surah()?.['ayahs']; track $index) {
        <div
          #ayahElement
          [class.test]="$index === currentIndex"
          class="ayah color-green text-center col-12">

          @if (ayah.text.startsWith(basmala)) {
            <div class="text-center col-12">
              {{ removeBasmala(ayah.text) }}
            </div>
          } @else {
            <div class="col-12">
              {{ ayah.text }}
            </div>
          }

          <div class="ayah-sympol fs-1 fw-bolder">
            &#1757;
            <span class="fs-6 fw-bolder ayah-number">
              {{ $index + 1 }}
            </span>
          </div>
          
        </div>
      }

</div>